apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: observability
data:
  tempo.yaml: |
    server:
      http_listen_port: 3200
    distributor:
      receivers:
        otlp:
          protocols:
            http:
            grpc:
    storage:
      trace:
        backend: local
        wal:
          path: /var/tempo/wal
        local:
          path: /var/tempo/traces
    compactor:
      compaction:
        block_retention: 48h
    querier:
      frontend_worker:
        frontend_address: tempo-query-frontend:9095
    query_frontend:
      search:
        query_backend_after: 3h
