apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: microservice
data:
  alloy.alloy: |
    loki.source.file "pods" {
      targets = [
        { __path__ = "/var/log/pods/*/*/*.log" },
      ]
      forward_to = [loki.write.default.receiver]
    }

    loki.write "default" {
      endpoint {
        url = "http://loki:3100/loki/api/v1/push"
      }
    }

    otelcol.receiver.otlp "default" {
      grpc { endpoint = "0.0.0.0:4317" }
      http { endpoint = "0.0.0.0:4318" }
      output {
        traces = [otelcol.processor.batch.default.input]
      }
    }

    otelcol.processor.batch "default" {
      output {
        traces = [otelcol.exporter.otlp.tempo.input]
      }
    }

    otelcol.exporter.otlp "tempo" {
      client {
        endpoint = "tempo:4317"
        tls { insecure = true }
      }
    }
