apiVersion: v1
kind: ConfigMap
metadata:
  name: microservice-app-settings
  namespace: microservice
data:
  # ============================
  # Global Spring Cloud Config
  # ============================
  SPRING_CONFIG_IMPORT: "optional:configserver:http://configservice.microservice.svc.cluster.local:8888"

  # Use same profile name across cluster if needed
  SPRING_ACTIVE_PROFILE: "gcp"

  # ============================
  # Eureka (Service Discovery)
  # ============================
  EUREKA_DEFAULT_ZONE: "http://discovery.microservice.svc.cluster.local:8761/eureka"
  EUREKA_PREFER_IP: "true"

  # ============================
  # Kafka (Cloud Bus)
  # ============================
  SPRING_CLOUD_STREAM_KAFKA_BROKERS: "my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
  SPRING_CLOUD_BUS_TOPIC: "config-bus-topic"
  SPRING_CLOUD_BUS_ENABLED: "true"
  SPRING_CLOUD_BUS_REFRESH_ENABLED: "true"

  # ============================
  # Observability (Tracing)
  # ============================
  OTLP_ENDPOINT: "http://tempo.microservice.svc.cluster.local:4318/v1/traces"
  TRACING_SAMPLING: "1.0"

  # ============================
  # Actuator
  # ============================
  MANAGEMENT_ENDPOINTS: "health,info,metrics,prometheus,refresh,busrefresh"

  # ============================
  # Logging Defaults (Optional)
  # ============================
  LOG_PATTERN_CONSOLE: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%class.%M:%L) - %msg%n"
  LOG_LEVEL_ROOT: "INFO"
  LOG_LEVEL_SPRING_BOOT: "INFO"
  LOG_LEVEL_SPRING_CLOUD: "WARN"
  LOG_LEVEL_KAFKA: "WARN"
  LOG_LEVEL_SI: "WARN"
  LOG_LEVEL_OTEL: "ERROR"
