apiVersion: batch/v1
kind: Job
metadata:
  name: mysql-init-job
  namespace: microservice
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: mysql-init
          image: mysql:8.0.36
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Waiting for MySQL..."
              until mysql -h mysql -uappuser -pappPass123 -e "SELECT 1;" >/dev/null 2>&1; do
                sleep 2
              done

              echo "Initializing schema..."

              mysql -h mysql -uappuser -pappPass123 <<EOF
              CREATE DATABASE IF NOT EXISTS amit;

              USE amit;

              CREATE TABLE IF NOT EXISTS customers (
                id              BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
                name            VARCHAR(255) NOT NULL,
                email           VARCHAR(255) NOT NULL,
                created_at      BIGINT NOT NULL,
                password_salt   VARCHAR(255) NOT NULL,
                password_hash   VARCHAR(255) NOT NULL,
                UNIQUE (email)
              );

              CREATE INDEX idx_customers_created_at ON customers (created_at);

              CREATE TABLE IF NOT EXISTS orders (
                  order_id CHAR(36) NOT NULL PRIMARY KEY,
                  customer_id VARCHAR(36) NOT NULL,
                  amount DECIMAL(10,2) NOT NULL,
                  status VARCHAR(20) NOT NULL,
                  created_at BIGINT NOT NULL
              );

              CREATE TABLE IF NOT EXISTS order_outbox (
                  id CHAR(36) NOT NULL PRIMARY KEY,
                  aggregate_id CHAR(36) NOT NULL,
                  event_type VARCHAR(100) NOT NULL,
                  payload TEXT NOT NULL,
                  status VARCHAR(20) NOT NULL,
                  created_at TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
                  available_at TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
                  last_error TEXT NULL,
                  attempts INT NOT NULL DEFAULT 0
              );

              CREATE INDEX idx_order_outbox_status_available
                  ON order_outbox (status, available_at);              
              EOF

              echo "Database initialized."
