apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: config-bus-topic
  namespace: kafka
  labels:
    strimzi.io/cluster: my-cluster
spec:
  partitions: 3
  replicas: 3
  config:
    retention.ms: 604800000   # 7 days
