apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  namespace: microservice
  labels:
    app: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
        - name: app
          image: $IMAGE_REPO/new-ms-reactive-order-service:$IMAGE_VERSION
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http

          # ⬇ Load both config maps
          envFrom:
            - configMapRef:
                name: microservice-app-settings # Common settings
            - configMapRef:
                name: order-service-config # App-specific settings

          # ⬇ Load secrets only for sensitive values
          env:
            - name: SPRING_R2DBC_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-user

            - name: SPRING_R2DBC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-password

            - name: SPRING_APP_NAME
              value: order-service

            - name: SERVER_PORT
              value: "8080"

            - name: OTEL_SERVICE_NAME
              value: order

        # Alloy sidecar
        - name: alloy
          image: grafana/alloy:latest
          args:
            [
              "run",
              "--stability.level=public-preview",
              "/etc/alloy/alloy.alloy",
            ]
          env:
            - name: ALLOY_ENABLE_FEATURES
              value: flow
          ports:
            - name: otlp-http
              containerPort: 4318
            - name: otlp-grpc
              containerPort: 4317
          volumeMounts:
            - name: alloy-config
              mountPath: /etc/alloy
            - name: varlog
              mountPath: /var/log

      volumes:
        - name: alloy-config
          configMap:
            name: alloy-config-order

        - name: varlog
          hostPath:
            path: /var/log
            type: Directory

---
apiVersion: v1
kind: Service
metadata:
  name: order
  namespace: microservice
  labels:
    app: order
spec:
  selector:
    app: order
  ports:
    - name: http
      port: 8080
      targetPort: http
  type: ClusterIP
