apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: microservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: web
          image: ${IMAGE_REPO}/new-ms-webapp:${IMAGE_VERSION}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: API_BASE_URL
              value: "http://35.226.236.202/gateway"
            - name: APP_THEME_COLOR
              value: "#32a852"
---
apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: microservice
spec:
  selector:
    app: webapp
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
