# Dependency directories
node_modules
**/node_modules

# Angular build output (don’t send to Docker context)
dist
out

# Environment files (never copy secrets)
.env
.env.* 

# IDE / Editor settings
.vscode
.idea
*.swp

# Logs
logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Git & metadata
.git
.gitignore
.gitlab-ci.yml
.github

# Docker files not needed inside image
docker-compose.yml
Dockerfile

# OS junk
.DS_Store
Thumbs.db

# Tests
coverage
